 body {
  font-family: 'Bitter', serif;
  font-size: 100%
  line-height: 175%
  background-color: #e5fcfb;
  margin: 0 10%;
  background-color: #ffefd5;
 }

a {
  text-decoration: none;
}
a.class1:link {
  background-color: #808000;
  color: gainsboro;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}
a.class1:visited {
  background-color: #808000;
  color: gainsboro;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}
a.class1:focus, a.class1:hover {
  background-color: tan;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}
a.class1:active {
	color: black;
	background-color: #fff;
}
a.class2:link {
  color: saddlebrown;
  text-align: center;
  text-decoration: none;
}
a.class2:visited {
  color: gray;
  text-align: center;
  text-decoration: none;
}
a.class2:focus, a:hover {
	color: #d1633c;
	background-color: #9fc2da;
}
a.class2:active {
	color: #f0f;
	background-color: #fff;
}

h1 {
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #8b4513;
  margin-top: 30px;
 }
 h2 {
  text-align: center;
  color: #d3d3d3;
  font-size: 1em;
  word-spacing: 20px;
 }
 h3 {
  color: #d1633c;
  font-size: 1em;
 }
 h4 {
  color: black;
  font-size: 1em;
 }